@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.block {
width: 30vw;
height: 30vw;
background-color: black;
color: white;
padding: 1rem;

}

.left {
    float: left;
    margin-right: 1rem;
}
.right {
    float: right ;
    margin-right: 1rem;
}

/* p {
    margin-left: 10px;
} */

.clear {
    clear: both;
}

section {
    background-color:bisque;
    border: 1px solid #333;
    padding: 1rem;
  /*   overflow: auto; this is the old way the new code is display: flow-root*/
  display: flow-root;
}

